[Desktop Entry]
Exec=noid-welcome.sh
Icon=noid
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Settings;DesktopSettings;
StartupNotify=false
Name=Welcome Screen
Comment=Introduction to Noid Linux
