[Desktop Entry]
Name=FreeTube
Comment=An Open Source YouTube app for privacy.
GenericName=FreeTube
Exec=freetube %U
Icon=freetube
Terminal=false
Type=Application
StartupNotify=true
StartupWMClass=FreeTube
Categories=GNOME;GTK;AudioVideo;Network;Utility;
MimeType=x-scheme-handler/freetube;
