[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Twine
Comment=An open-source tool for telling interactive, nonlinear stories
Exec=twine
Icon=twine
Terminal=false
